    <h2 style="margin-top: 20px; text-align: center">Cart Items</h2>
<div class="productList">
  {{#each cart.products}}
    <div class="productCard">
      <div class="cardProduct__image">
        {{#if this.productId.thumbnail}}
          <img src="{{this.productId.thumbnail}}" alt="{{this.productId.title}}" />
        {{else}}
          <img src="default-thumbnail.jpg" alt="No Thumbnail" />
        {{/if}}
      </div>
      <div class="cardProduct__info">
        <h3>{{this.productId.title}}</h3>
        <p>{{this.productId.description}}</p>
        <p>{{this.productId.price}}</p>
        <p>{{this.productId.stock}}</p>
        <p>{{this.productId.code}}</p>
        <p>Quantity: {{this.quantity}}</p> <!-- Quantity from the "products" array in the cart model -->
      </div>
    </div>
  {{/each}}
</div>